.outter{
    display:flex;
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid black;
}
.square{
    background: white;
    border: 1px solid black;
}
.numSquare{
    display:flex;
    margin: 10px auto;
}
.clearButton{
    display: flex;
    margin: 10px auto;
}
